@media  screen and (min-width: 576px) and (max-width: 1024px) {
    .header {
        background: #FFF;
        padding: 0px 20px;
    }
       
 


/* banner styles */
.banner {
    background: #FFF;
    padding: 0px 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding-top: 20px;
    
}





/*main start here */
main{

}
.gamer-section{
        
    background: hsl(0, 0%, 100%);
    padding: 0px 20px;
    display: grid;
    justify-content: center;
    align-items:rgb(237, 180, 180)ter;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding-top: 40px;
}
    }


 



/*card*/
.card-section{
    background: #fcf2f2;
    padding: 20px 40px;
    

    


}
/* 
.card-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:5px ;
    justify-content: space-between;
    padding-top: 20px;
    
   
} */



/*feature start here*/
.feature-section{
        
    background: #FFF;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}
.feature-title{
    font-size: 35px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;  

}
.main-img img{
    width:75%;
    height: 40%;
    padding-left: 100px;
}



/*btn section*/
.btn-section{
    background: #FFF;
    padding: 0px 40px;

    justify-content: center;
    align-items: center;    
    

}
.btn-div1{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.btn{
    display: flex;
    align-items: center;
    
    padding: 7px;
    margin: 5px;
    border: none;
    border-radius: 30px;
}
.btn-div2{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.btn:hover{
    border: 1px solid orangered;
    color: orangered
}

/*footer*/
.footer{
    
    padding: 0px 0px;
   
    flex-direction: column;
    padding-top: 40px;
    justify-content: center;
    align-items: center;


    background-color: rgb(4, 4, 49);
    color: whitesmoke;
    

    margin-bottom: 40px;

}
.footer-img{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.condition>ul {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.condition li {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;

    list-style: none;
    
    font-weight: 500;
    font-size: 1rem;
}
.copy-right li{
    display: flex;
    justify-content: center;
   
    
    
}


    }